<h1><%= @publication.title %></h1>

<h2>Title: <%= @publication.title %></h2>

<%= link_to "Edit  #{@publication.title}", edit_publication_path(@publication) %>

<%= form_for @publication, url: {method: 'delete'} do |f| %>
  <%= f.submit "Delete #{@publication.title}??" %>
<% end %>

<%= link_to "All Articles", publications_path %>



