<h1>All our Articles!</h1>

<ul>
<% @articles.each do |article| %>
  <li><%= link_to article.title, article_path(article)%></li>
<% end %>
</ul>

<li><%= link_to "Add New Article", new_article_path(article)%></li>

<li><%= link_to "Delete Article", article_path(@article)%></li>

<%= form_for @article, html: {method: 'delete'} do |f| %>
  <%= f.submit "Delete #{@article.title}??" %>

