<!DOCTYPE html>
<html>
  <head>
    <title>Alchemy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav>
      <ul>
        <li>
          <a href="index">Home</a>
        </li>


        <li>
          <a href="about">About</a>
        </li>


        <li>
          <a href="projects">Projects</a>
        </li>


        <li>
          <a href="publications">Publications</a>
        </li>


        <li>
          <a href="videos">Videos</a>
        </li>


        <li>
          <a href="audio">Audio</a>
        </li>


        <li>
          <a href="contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
  <br>


  <header>
    <div id="header">
      <br>
      <br>


      <h1>Alchemy by Design</h1>
    </div>
  </header>
  <br>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div id="footer">
    <!-- //********************************** This is the table div for Footer ***********************************// -->


    <footer>
      <div class="footer" id="footer1">
        <center>
        </center>


        <table>
          <tr>
            <td class="social">
              <a href="https://www.facebook.com/"><img src="/images/facebooklogo.png"></a>
            </td>

            <td class="social">
              <a href="https://www.instagram.com/?hl=en"><img src="/images/instagramlogo.png"></a>
            </td>

            <td class="social">
              <a href="https://www.linkedin.com/in/diana-hern%C3%A1ndez-10668237/"><img src="/images/linkedInLogo.png"></a>
            </td>

            <td class="social">
              <a href="https://twitter.com/?lang=en"><img src="/images/twitterlogo.png"></a>
            </td>

            <td class="social">
              <a href="https://www.pinterest.com/"><img src="/images/pinterestLogo.png"></a>
            </td>
          </tr>
        </table>
      </div>


      <div class="footer" id="footer2">
        <center>
          <p>| 116th Street and Broadway, New York, NY 10027 |</p>
        </center>
      </div>


      <div class="footer" id="footer3">
        <center>
          <p><a href="Contact.html">Contact Me</a>
          </p>
        </center>
      </div>
    </footer>
  </div>
    <%= yield %>
  </body>
</html>
